__pycache__/
*.jfm
*.xbim
*.wexbim
*.suo
*.pyc
*.log
.idea/
*.class
artifacts/
target/
*.test.*
service/ifc/bin/
service/ifc/obj/
utility/xbim-convert/bin/
utility/xbim-convert/obj/
*.sqlite-journal
*.iml
catalog-v001.xml

#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.bak
*.cache
*.ilk
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
*.dll
